{% extends 'polls/base.html' %}
{% block content %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }} <a href="{% url 'polls:edit' question.id %}">Edit</a></h1></legend>

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>

    {% endfor %}
<!--    Test input for POST method: <input type="text" name="account_name"><br>-->
</fieldset>
<input type="submit" value="Vote">
</form>

<h3>Choice Form</h3>
<form action="{% url 'polls:detail' question.id %}" method="post">
{% csrf_token %}

{{ choice_form.as_p }}

<input type="submit" value="Send">
</form>

<a href="{% url 'polls:admin_choice' %}">Admin choice</a>

{% endblock %}
